.user-links {
  font-size: 1rem;

  & &__link {
    font-size: inherit;
    text-decoration: none;
    margin-right: 1em;

    &:last-of-type {
      margin-right: auto;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
