@import '~carbon-components/scss/globals/scss/styles';

.footer {
  background-color: $ui-02;
  color: $text-02;
  font-size: 0.875rem;

  &__container {
    box-sizing: border-box;
    padding: 1em 1.5em;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }
}
