* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;

@import '~carbon-components/scss/globals/grid/_grid.scss';

@import '~carbon-components/scss/globals/scss/_colors.scss';
@import '~carbon-components/scss/globals/scss/_css--body.scss';
@import '~carbon-components/scss/globals/scss/_css--font-face.scss';
@import '~carbon-components/scss/globals/scss/_css--helpers.scss';
@import '~carbon-components/scss/globals/scss/_css--plex-core.scss';
@import '~carbon-components/scss/globals/scss/_css--reset.scss';
@import '~carbon-components/scss/globals/scss/_css--typography.scss';
@import '~carbon-components/scss/globals/scss/_helper-mixins.scss';
@import '~carbon-components/scss/globals/scss/_import-once.scss';
@import '~carbon-components/scss/globals/scss/_layer.scss';
@import '~carbon-components/scss/globals/scss/_layout.scss';
@import '~carbon-components/scss/globals/scss/_mixins.scss';
@import '~carbon-components/scss/globals/scss/_typography.scss';
@import '~carbon-components/scss/globals/scss/_vars.scss';
@import '~carbon-components/scss/globals/scss/styles';
